<div id="dashboardMain" class="main">
    <h1 class="dashboardTitle" id="userWelcome">Welcome, <%= name %>
        <% if (roles.includes('Admin')) { %>
        (Admin)
        <% } else { %>
        <%= roles %>)
        <% } %>
    </h1>

    <nav class="userNav">
        <a href="/dashboard" class="brand-logo"><img class="nav-logo" src="/images/tu_tiger.svg"></a>
        <ul>
            <li class="active"><a href="/dashboard" class="nav-item">Dashboard Home</a></li>
            <li><a href="/tourList" class="nav-item">Manage Tours</a></li>
            <li><a href="/profile" class="nav-item">User Profile</a></li>
            <li><a href="/users/logout" class="nav-item">Logout</a></li>
        </ul>
    </nav>

    <!-- Admin Panel Table -->
    <p class="dashboardHeading">Manage Users</p>
    <div class="flexPanel" id="userPanel">
        <% if (roles.includes('Admin')) { %>
        <% users.forEach((user) => { %>
        <% if (user.firstname != 'Trae') { %>
        <div class="userCard userCardHover" data-id="<%= user._id %>">
            <p class="cardContent" id="cardName"><%= user.firstname + ' ' + user.lastname.substring(0, 1) %>.</p>
            <p class="cardContent" id="cardRole">
                <% if (user.roles.includes('Admin')) { %>
                Admin
                <% } else { %>
                <%= user.roles %>
                <% } %>
            </p>
            <ul>
                <li id="cardEmail"><%= user.email %></li>
                <li id="cardPromote">
                    <form action="/dashboard/promote/<%= user._id %>" method="POST">
                        <button type="submit" class="navBtn actionButton" id="promoteBtn">Promote User</button>
                    </form>
                </li>
                <li id="cardRemove">
                    <form action="/dashboard/<%= user._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="navBtn actionButton" id="removeBtn">Remove User</button>
                    </form>
                </li>
            </ul>
        </div>
        <% } %>
        <% }) %>
        <% } %>
    </div>
</div>